.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }
  .our-business .columns div {
    align-items: unset;
  }
  .our-business .columns div h2 {
    margin-top: 0;
  }
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


/* new styles for feature items */
/* Main container for the list to add spacing */
.columns-feature-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: 2rem;
}

/* The sub-parent element aligning icon and text horizontally */
.columns-feature-item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;

  &:hover {
    & .columns-feature-icon {
      & .icon {
        background-color: var(--bghovercolor);
        border-color: var(--bghovercolor);
      }
    }
  }
}

/* The left element (Icon) styling */
.columns-feature-icon {
  flex-shrink: 0;
  transition: .5s;

  p {
    margin: 0;
  }

  & .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcolor);
    border: 1px solid var(--bgcolor);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;

    @media (width >= 900px) {
      width: 80px;
      height: 80px;
      line-height: 80px;
    }

    img {
      filter: brightness(0) invert(1);
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
  }
}

/* The right element (Text) styling */
.columns-feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.columns-feature-title {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
}

.columns-feature-desc {
  margin: 0;
  color: #666;
}

/* our achievements section */
.our-achievements {
  background-color: #A2A84C;
  color: var(--light-color);

  & .columns {
    padding-block-start: 50px;
    padding-block-end: 50px;
  }
}

/* investment section */
.investment {
  & .columns-feature-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    & .columns-feature-item {
      flex-direction: column;
      gap: 10px;
    }
  }
}